@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body{
    background-color: #2d3436;
}

.App{
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

@media screen and (max-width: 720px) {
    body {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 0.6em;
    }
}